body {
    background-color: rgb(56,56,56);
}

#map {
    height: 100%;
}
#distanceSelect {
    width: 200px;
}
#buttonDiv {
    text-align: center;
}
#selectDiv { 
    text-align: end;
}

#typeHeading {
    color: white;
}